<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Финам Вики</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/categories">Категории</a></li>
        <li><a href="/add">Добавить</a></li>
        <li><a href="/login">Войти</a></li>
        <li><a href="/logout">Выйти</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/categories">Категории</a></li>
    <li><a href="/add">Добавить</a></li>
    <li><a href="/login">Войти</a></li>
    <li><a href="/logout">Выйти</a></li>
  </ul>
</header>
