<!DOCTYPE html>
<html>

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script defer src="/javascripts/materialize.js"></script>
</head>

<body>

<header>
  <nav>
{{#if isAuth}}
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Финам Вики</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Категории</a></li>
        <li><a href="badges.html">Добавить</a></li>
        <li><a href="collapsible.html">{{username}}</a></li>
        <li><a href="/logout">Выйти</a></li>
      </ul>
    </div>
{{else}}
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Финам Вики</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Войти</a></li>
            </ul>
        </div>
{{/if}}
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Категории</a></li>
    <li><a href="badges.html">Добавить</a></li>
    <li><a href="collapsible.html">Войти</a></li>
    <li><a href="mobile.html">Выйти</a></li>
  </ul>
</header>

  <main>

    <div class="container">
      <!-- Page Content goes here -->
      {{{body}}}
    </div>
  </main>

  {{> footer}}

</body>

</html>
