<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/stylesheets/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  </script>

</head>

<body>

  {{> header}}

  <main class="valign-wrapper">

    <div class="container">
      <!-- Page Content goes here -->
      {{{body}}}
    </div>
  </main>

  {{> footer}}

</body>

</html>
