<div class="row">
  <form class="col s6" method="POST" action="/login">
    <div class="row">
      <div class="input-field col s6">
        <input name='login' id="login" type="text" class="validate">
        <label for="login">Логин</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Пароль</label>
      </div>
    </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Войти
    <i class="material-icons right">send</i>
  </button>
  </form>
</div>
