<div class="row center-align valign-wrapper">
  <form class="col s12" method="POST" action="/login">
    <div class="row">
      <h3>Пожалуйста авторизуйтесь</h3>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input name='login' id="login" type="text" class="validate">
        <label for="login">Логин</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4 offset-s4">
        <input name="password" id="password" type="password" class="validate">
        <label for="password">Пароль</label>
        <span class="helper-text">Данные для входа получите у вашего руководителя</span>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Войти
      <i class="material-icons right">sentiment_very_satisfied</i>
    </button>
  </form>
</div>
